:root {
  --headerbar-bg-oklch: 0.95 calc(c * 0.3) h;
  --headerbar-backdrop-oklch: 0.9 calc(c * 0.25) h;
}

window.remote .top-bar {
  --headerbar-bg-color: oklch(from var(--accent-purple) var(--headerbar-bg-oklch));
  --headerbar-backdrop-color: oklch(from var(--accent-purple) var(--headerbar-backdrop-oklch));
}

window.remote .top-bar.raised {
  --accent-bg-color: color-mix(in srgb, currentColor 75%, transparent);
  --accent-color: oklab(from var(--accent-bg-color) var(--standalone-color-oklab));
}

window.remote .top-bar.raised popover {
  --accent-bg-color: var(--system-accent);
  --accent-color: oklab(from var(--accent-bg-color) var(--standalone-color-oklab));
}

.remote-row list {
  background: oklch(from var(--accent-purple) var(--headerbar-bg-oklch));
}

.thin-progressbar trough, .thin-progressbar progress{
  min-height: 5px;
}

.bubble {
  border-radius: 50%;
  background: color-mix(in srgb, var(--window-fg-color) 50%, transparent);
  color: var(--accent-fg-color);
  min-width: 30px;
  min-height: 30px;
}

.bubble.large {
  min-width: 86px;
  min-height: 86px;
}

.active.bubble{
  background-color: var(--accent-bg-color);
}

.inactive progressbar progress {
  background-color: color-mix(in srgb, var(--window-fg-color) 50%, transparent);
  border-color: color-mix(in srgb, var(--window-fg-color) 50%, transparent);
}

.inactive .heading:not(.bubble) {
  color: color-mix(in srgb, var(--window-fg-color) 50%, transparent);
}

.queue-button button {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 1px;
  padding-right: 1px;
  min-height: 18px;
}

.queue-button button:last-child{
  margin-top: -2px;
}

.notice-row {
  font-weight: bold;
  box-shadow: none;
}

.dialog-button > box, .dialog-button > button > box  {
  margin-top: 6px;
  margin-bottom: 5px;
}

.dialog-button, .dialog-button .toggle {
  border-radius: 12px;
}

.dialog-button image {
  margin-bottom: 4px;
}

listview.card {
  border-radius: 0;
  color: var(--card-fg-color);
  background: var(--card-bg-color);
}

listview.card row:hover{
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* Remove default adwaita style */
.drop-widget:drop(active):focus,
.drop-widget:drop(active) {
  box-shadow: none;
}

/* Drag overlay */
.dragging-area-highlight {
  border-radius: 8px;
  background-color: color-mix(in srgb, var(--blue-2) 35%, transparent);
  margin: 24px;
}

