:root {
  --headerbar-bg-oklch: 0.32 calc(c * 0.32) h;
  --headerbar-backdrop-oklch: 0.27 calc(c * 0.27) h;
}

.remote-row list {
  background-color: oklch(from var(--accent-purple) var(--headerbar-bg-oklch));
  color: var(--light-1);
}
